


<div class="container sidenav ">
  <div class="logo-container ">
      <button class="button-img" routerLink="/pages/dashboard">
          <img src="../../../assets/Imagen1.png" width="100px" alt="" class="">
      </button>
  </div>
  <ul class="nav-items">
      <li class="nav-items-link" *ngFor="let data of navData">
         <button class="nav-button" mat-icon-button [routerLink]="[data.path]">
          <mat-icon>{{data.icon}}</mat-icon>
          <span class="text-center">{{data.label}}</span>
         </button>
      </li>
  </ul>
</div>
