
<div class="btn-navbar">

  <button
  mat-icon-button
  *ngIf="sidenav.mode === 'side'"
  (click)="sidenav.toggle()"
  >
  <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
  <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <button
  mat-icon-button
  *ngIf="sidenav.mode === 'over'"
  (click)="sidenav.toggle()"
  >
  <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
  <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
</div>


<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <app-nabvar> </app-nabvar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet> </router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
