*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
mat-sidenav-container{
  height: calc(100vh - 55px);
}

mat-sidenav{
  width: 250px;
  background-color: #686876ec;
  padding: 16px;
  text-align: center;
}
.content{
 /* height: calc(100vh - 98px);
  height: calc(100vh - 150px);*/
  margin: 16px 25px;
  margin-left: 32px;
  padding: .1px;
  position: relative;
}

mat-sidenav-content{
  height: calc(100vh - 55px);
  position: relative;
  background-color: rgb(166, 249, 255);
}


.btn-navbar{
  background-color: #dbf49c;
}
